.profileBody{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #111;
  top: 80px;
}
.profileImage {
  object-fit: cover;
  width: 200px;
  height: 200px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.avatar:hover .widget {
  opacity: 1;
}
.avatar:hover .profileImage {
  opacity: 0.5;
}
.widget {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 2;
}
.widget span {
  text-transform: uppercase;
  font-size: 12px;
  width: 50%;
  text-align: center;
}
.followerCount {
  display: flex;
  flex-direction: row;
}
.info {
  margin: 10px 50px 0 0;
}
.info span {
  display: block;
  text-align: center;
}
.userInfo {
  padding: 60px 50px 0 50px;
  height: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow :hidden;
  justify-content: center;
  position: relative;
}
.userDetails {
  width: 50%;
  margin: 50px 30px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}
.user{
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: row;
  position: relative;
}
.userInteraction{
  position: absolute;
  right: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.followerCount{
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}
.bio {
  margin: 30px 0;
  text-align: justify;
}
.follow{
  margin-left: 20px;
  margin: 10px auto;
}
.userName {
  font-size: 28px;
  font-weight: 600;
}
.category {
  display: flex;
  font-size: 14px;
  color: #292929c9;
}
.bio a {
  background-color: #9d9d9d8c;
  text-decoration: none;
  border-radius: 0.9rem;
  display: inline-block;
  font-size: 13px;
  padding: 5px 6px;
  margin-top: 5px;
}
.timeline {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 3rem;
  /* margin: 70px 70px; */
  margin: 28px auto;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  padding: 0 60px;
  width: calc( 100vw - 16.9rem);
  margin: 0 auto;
}
.singleImage {
  width: 350px;
  height: 180px;
  margin: 0.1rem 0.1rem;
  padding: 0;
  display: flex;
  justify-content: center;
}
.singleImage img{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .timeline{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 100px;
  }
  .imageSection{
    display: flex;
    box-sizing: content-box;
    position: relative;
    padding: 30px;
    justify-content: center;
  }
  .avatar{
    top: 0;
  }
  .userInfo{
    width: 100%;
    height: auto;
    padding: 0;
    position: relative;
    top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .userDetails{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 0;
    width: 100%;
    
  }
  .followerCount{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .info {
    margin: 0 auto;
  }
  .user{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .category{
    display: flex;
    /* margin-left: 0px; */
    /* text-align: center; */
    align-items: center;
  }
  .posts {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    /* flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 60px; */
  }
  .singleImage{
    width: calc( 100vw / 3);
    height: calc(100vw / 3);
    margin: 0;
    display: flex;
    justify-content:space-around;
    overflow: hidden;
  }
  .singleImage img {
    width: 7.9rem;
    height: 7.9rem;
    object-fit: cover;
    padding: 0.1rem 0.1rem;
    display: flex;
    justify-content: space-around;
    /* transform: translate( -1.6rem); */
  }
  .follow{
    margin-left: 50px;
    margin: 10px auto;
  }
}