.wrapper{
    display: flex;
    padding: 100px 200px;
    height: 100vh;
    justify-content: space-around;
}
.profilePicture{
    width: 30%;
    display: flex;
    justify-content: center;
    position: relative;
}
.otherInfo{
    width: 70%;
    padding: 10px;
}
.wrapper h4{
    color: rgb(0, 0, 0);
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid gray;
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.default{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
}
.inputGroup{
    display: flex;
    flex-direction: column;
    padding: 50px;
    /* position: relative; */
}
.inputGroup label {
    position: relative;
    left: 12px;
}
.buttonGroup{
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-evenly;
    padding-left: 100px;
}