.post{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding:30px 40px;
    margin: 0 40px 10px 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.3rem;
    background-color: #ffffff;
    box-sizing: border-box;
    object-fit: contain;
    font-size: 14px;
}
.avatar{
    width: 36px;
    border-radius: 50%;
    cursor: pointer ;
}
.userDetails{
    display: flex;
    align-items: center;
}
.userDetails span{
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    cursor: pointer ;
}
.content{
    margin: 20px 0;
    display: inherit;
    text-align: justify;
}
.imageView img{
    max-width: 100%;
    border-radius: 0.4rem;
}
.imageView{
    object-fit: cover;
    display: flex;
    justify-content: center;
}
.userReaction{
    display: flex;
    height: 30px;
    align-items: center;
    /* overflow: auto; */
}
.comment{
    transform: scale(1.8);
}
@media screen and (max-width: 844px) {
    .post{
        margin: 15px;
    }
}
.postTime{
    color: #7d7878b7;
    font-weight: 400;
    font-size: 14px;
}
.userInteract{
    display: flex;
    flex-direction: column;
}
